<div class="container">
  <div class="row">
     <div class="col-sm-12">
        <h4 class="text-center sh16">О нас</h4>
       <div class="onas">
      <ul class="onas1">
        <li class="onas3">Уважаемые посетители! Мы рады приветствовать Вас на страницах Stockmarket.com.ua!</li>
        <li class="onas2">Проект Stockmarket является оригинальным интернет-магазином для продажи стоковой одежды и обуви, а также секондхенда класса люкс в Украине. Нашей задачей считается не только предоставлять Вам совершать покупки, но и открыть для Вас доступные цены на мировые бренды. Мы предложим высококачественный продукт и отличный сервис.
          Для покупателя не составит большого труда смотреть весь ассортимент сайта. Мы создали умную систему навигации и поиск товаров на сайте по наименованию, акциям, цене, а также по последним поступлениям на сайт.
          Для продавцов представлена прекрасная возможность зарегистрироваться и легко добавлять свои товары.</li>
        <li class="onas3">Целью проекта Stockmarket считается:</li>
        <li class="onas2">Сделать покупателя счастливым! Мы дорожим доверием каждого клиента, поэтому каждая позиция товара проходит модерацию, прежде чем попасть на страницы сайта. Наши продавцы с удовольствием проконсультируют по всем интересующим Вас вопросам (характеристики товара, качество, цена, сроки и условия доставки и др.). </li>
        <li class="onas3">Правила Stockmarket:</li>
        <li class="onas2">
          1. Проект Stockmarket является торговой площадкой для размещения объявлений.</br>
          2. Каждый продавец может зарегистрироваться на сайте и разместить объявление соответствующее направлению сайта.</br>
          3. Каждый покупатель может приобрести товар, согласно своей потребности.</br>
          4. Все сделки происходят напрямую, между продавцом и покупателем.</br>
          5. Проект Stockmarket не является участником сделок между продавцами и покупателями.</br>
        </li>
        <li class="onas3">С уважением, администрация проекта StockMarket.</li>
      </ul>
       </div>
    </div>
  </div>
</div>