<div class="container">
<div class="row">
<!-- 	<div class="col-sm-3 img-responsive">
	<%= image_tag("shop.jpg")%>
	</div> -->
	<div class="col-sm-12">
	<h4 class="text-center sh16">О нас</h4>
<div class="onas">
<ul class="onas1">
<li class="onas3 sh14">Уважаемые посетители! Мы рады приветствовать Вас на страницах Stockmarket.com.ua!</li>

<li class="onas2">Проект Stockmarket является молодым и оригинальным интернет магазином стоковой одежды и обуви в Украине. Нашей задачей считается не только предоставлять Вам совершать покупки, но и открыть для Вас доступные цены на мировые бренды. Мы предложим высококачественный продукт и отличный сервис.
Для покупателя не составит большого труда смотреть весь ассортимент сайта. Мы создали умную систему навигации и поиск товаров на сайте по наименованию, акциям, цене, а также по последним поступлениям на сайт.
Для продавцов представлена прекрасная возможность зарегистрироваться и легко добавлять свои товары.</li>

<li class="onas3 sh14">Целью проекта Stockmarket считается:</li>

    <li class="onas2">Ваша благодарность и удовлетворенность покупкой! Мы дорожим доверием каждого клиента, поэтому предлагаем только оригинальную продукцию мировых брендов. На сайте вы не увидите никаких подделок и реплик!
Каждая позиция товара проходит модерацию, прежде чем попасть на страницы сайта.
Работаем только с лучшими продавцами. Наши продавцы с удовольствием проконсультируют по всем интересующим Вас вопросам (характеристики товара, качество, цена, сроки и условия доставки и др.). Вы не столкнетесь с грубостью и неуважением при общении на нашем сайте.</li>


    <li class="onas3 sh14">С уважением, администрация проекта StockMarket.</li>
   <!---->
<!--<li class="onas3">Скоро на сайте:</li>-->
    <!--<li class="onas2">Планируем знакомить Вас с описанием, как известных брендов, так и менее знаменитыми, но достойными производителями. Также для Вас предоставим на странице сайта качественную информацию о продавцах, которые размещают свои товары.-->
<!--Работаем над программой лояльности для постоянных покупателей, которая позволит приобретать товары со скидками. Также в планах поощрять самых активных продавцов скидками на VIP-услуги.</li>-->

   
</ul>

</div>


	</div>
</div>
</div>