<div class="container">
<div class="row">
<!-- 	<div class="col-sm-3 img-responsive">
	<%= image_tag("shop.jpg")%>
	</div> -->
	<div class="col-sm-12">
	<h2 class="text-center">О нас</h2>
<!-- 	<p class="ia">Представляем Вам проект Stockmarket.com.ua!
	Данный проект прекрасно подойдёт как продавцам, так и покупателям.
	Специфика сайта размещение и продажа стоковой одежды и обуви.
	Для продавцов представлена прекрасная возможность легко и просто добавлять свой товар.
	А покупателям не составит большого труда смотреть весь ассортимент сайта, при этом с удобными фильтрами и поисками.
	Сайт Stockmarket.com.ua разработан очень грамотно и слаженно разработчиками профессионалами.
</p> -->
<div class="onas">
<ul class="onas1">
<li class="onas2">Уважаемые клиенты, мы рады приветствовать Вас на страницах нашего сайта!</li>

<li class="onas2">Данный проект прекрасно подойдёт как продавцам, так и покупателям.
	Специфика сайта размещение и продажа стоковой одежды и обуви.
	Для продавцов представлена прекрасная возможность легко и просто добавлять свой товар.
	А покупателям не составит большого труда смотреть весь ассортимент сайта, при этом с удобными фильтрами и поисками.</li>

<li class="onas3">Наша миссия:</li>

    <li class="onas2">Предоставлять Вам качественный продукт и отличный сервис. Потому как лучшей наградой для нас есть Ваша благодарность и удовлетворенность покупкой!</li>

<li class="onas3">Наши плюсы</li>

<li class="onas3">Продукт:</li>

    <li class="onas2">На сайте представлена только оригинальная продукция мировых брендов.
    </li>
    <li class="onas2">На сайте вы не увидете Никаких подделок и реплик!</li>

<li class="onas3">Сервис:</li>
	<li class="onas2">Работаем только с лучшими продавцами</li>

    <li class="onas2">Наши продавцы с удовольствием проконсультируют по всем интересующим Вас вопросам (характеристики товара, качество, цена, сроки и условия доставки и др.)
    Вы НЕ столкнетесь с хамством и неуважением при общении на нашем сайте.
    </li>

<li class="onas3">Технический отдел: </li>
	<li class="onas2">Каждая позиция проходит модерацию, прежде чем попасть на наш сайт</li>
    <li class="onas2">Сайт Stockmarket.com.ua разработан очень грамотно и слаженно разработчиками профессионалами.</li>
</ul>
</div>

<!-- 	
Мы любим своих клиентов

MakeUp является самым крупным и самым популярным интернет магазином косметики и парфюмерии в Украине. Наша задача — не просто предоставить вам возможность покупки, мы хотим открыть для вас совершенно новый мир бьюти-продуктов. Каждый день МейкАп развивается и уверенно шагает навстречу мировым трендам, чтобы вскоре познакомить вас с новинками самых известных брендов, а также достойными продуктами маленьких, но интересных производителей. Наша цель — сделать лучше каждый ваш день, наполняя его красотой и невероятными ароматами. Доступные цены, широкий выбор, высокое качество продукции и европейское обслуживание – главные секреты успеха компании МейкАп. Мы заботимся о том, чтобы вы как можно больше узнали о каждом товаре, поэтому на сайте можно найти подробное описание продукта, его состав, способ применения, а также фото и видео.

Клиенты MakeUp всегда могут получить профессиональную консультацию у наших менеджеров, достаточно позвонить по одному из указанных на сайте номеров. Менеджер поможет не только подобрать товар, но и ответит на все интересующие вас вопросы относительно работы магазина, оформит ваш заказ и сориентирует по времени доставки. Которая, к слову, является бесплатной по всей территории Украины.
Активность покупателей

Услугами интернет магазина MakeUp воспользовались уже более 750 000 покупателей и многие из них – наши постоянные клиенты. На сайте вы найдете множество их отзывов и впечатлений, что позволяет узнать разные мнения о том или ином продукте. Мы стараемся предоставить вам как можно больше информации, поэтому отзывы реальных покупателей находятся на страничке каждого товара, а также в конце каждого выбранного раздела.
Мы всегда благодарим своих клиентов

У МейкАп существует программа лояльности для постоянных покупателей, благодаря которой они имеют возможность приобретать со скидкой продукцию более чем 100 брендов. Мы поощряем активность клиентов, а потому часто устраиваем конкурсы, дарим ценные подарки в виде косметики и парфюмерии.
Ассортимент – голова кругом

Компания MakeUp заботится не только о качестве продукции и сервисе, но и о широком выборе товаров. В магазине представлено более 111 000 наименований косметики и парфюмерии от всемирно известных брендов. Мы следим за новинками и модными тенденциями на рынке красоты, поэтому наш ассортимент постоянно обновляется и расширяется.

Специально для наших клиентов мы создали удобную систему поиска и фильтрации товаров по ключевым параметрам. На сайте можно с легкостью подобрать продукт по бренду, серии, цене, полу, типу кожи, классификации аромата, стране-производителю и даже по нотам.
Качество на высшем уровне

Мы дорожим доверием клиентов, поэтому предлагаем только оригинальный и качественный продукт. Наши покупатели всегда могут убедиться в подлинности покупки и проверить свой заказ прямо в присутствии курьера.
Как получить заказ?

Интернет магазин MakeUp осуществляет бесплатную и оперативную доставку по всей территории Украины. Курьерская доставка во все областные центры страны осуществляется прямо «до двери». В Киеве заказы, оформленные до 7 утра, доставляются в тот же день. После 7:00 — на следующий день. В остальные города Украины доставка осуществляется на следующий день или через день. Подробнее ознакомиться с условиями доставки вы можете ознакомиться здесь.

МейкАп делает все возможное, чтобы познакомить вас с разнообразием бьюти-продуктов: мы пишем интересные статьи, снимаем познавательные видео-уроки, достаем новинки косметики и парфюмерии, чтобы вы продегустировали их первыми. Компания MakeUp дорожит вниманием, доверием и активностью своих покупателей, поэтому мы всегда на вашей стороне. -->


	</div>
</div>
</div>