<div class="container">
  <h2>Вертикальная форма</h2>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Введите email">
    </div>
    <div class="form-group">
      <label for="pwd">Пароль:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Введите пароль">
    </div>
<div class="form-group">
      <label for="dat">Дата рождения:</label>
        <input type="date" class="form-control" id="dat" placeholder="Введите дату рождения">
    </div>
<div class="form-group">
      <label for="txt">Имя Фамилия:</label>
        <input type="text" class="form-control" id="txt" placeholder="Введите имя и фамилию">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Запомнить меня</label>
       <button type="submit" class="btn btn-default" style="float: right">Отправить</button>
    </div>
  </form>
</div>