<div class="container">
  <h2>Если у вас возникли вопросы по сайту, либо есть какие-то предложения, то оставляйте свои отзывы</h2>
  <form>

    <div class="form-group col-md-offset-2 formn">
      <div class=" col-sm-2 ">
      <label for="name">Ваше ФИО</label>
      </div>
        <div class="col-sm-10 ">
      <input type="email" class="form-control" id="name" placeholder="Введите Имя, Фамилия">
        </div>
    </div>
    <div class="form-group col-md-offset-2 formn">
      <div class=" col-sm-2 ">
      <label for="pwd">Email:</label>
      </div>
        <div class="col-sm-10 ">
      <input type="password" class="form-control" id="pwd" placeholder="Введите Email">
        </div>
    </div>
<div class="form-group col-md-offset-2 formn">
  <div class="col-sm-2 ">
      <label for="dat">Телефон:</label>
  </div>
  <div class=" col-sm-10 ">
        <input type="date" class="form-control" id="dat" placeholder="Введите Номер телефона">
    </div>
</div>
    <div class="form-group col-md-offset-2 formn">
      <div class=" col-sm-2 ">
      <label for="message" class="control-label">Коментарии:</label>
      </div>
        <div class="col-sm-10 ">
      <textarea id="message" class="form-control" rows="3" placeholder="Оставьте свой отзыв" minlength="20" maxlength="500" required="required"></textarea>
    </div>
    </div>
    <div class="checkbox">
      <button type="submit" class="btn btn-default" style="float: right">Отправить</button>
    </div>
  </form>
</div>