<div class="container">
<div class="row ">
<h2 class="text-center">Что такое VIP-статус?</h2>
<div class="niz2">
<p class="niz3">VIP-статус это услуга, с помощью которой Вы сможите быстрее продать свой товар. На сайте предусмотрены четыре вида VIP-статусов: VIP-1, VIP-2, VIP-3 и VIP-4:</p>
</div>
<div class="container-fluid ">
<div class="row ">
  <div class="col-xs-12 col-sm-6 text-center">
    <div class="">
    <div class="thumbnail ">
    <h3>VIP-1</h3>
      <%= image_tag '03.jpg', class: 'img-rounded' %>
      <div class="caption">
        <h3>Описание</h3>
        <p class="niz6">Ваше объявление будет выделено цветом. Преимущество услуги: объявление будет более заметным на сайте, появится больше просмотров, что позволит Вам быстрее продать товар.
		</p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 text-center">
    <div class="">
    <div class="thumbnail ">
    <h3>VIP-2</h3>
      <%= image_tag '03.jpg', class: 'img-rounded' %>
      <div class="caption">
        <h3>Описание</h3>
        <p class="niz6">Статус позволит поднять ваше объявление выше других бесплатных. Ваш товар будет наиболее доступным для всех посетителей сайта, что даст возможность быстрее продать товар.
		</p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 text-center">
    <div class="">
    <div class="thumbnail">
    <h3>VIP-3</h3>
      <%= image_tag '03.jpg', class: 'img-rounded' %>
      <div class="caption">
        <h3>Описание</h3>
        <p class="niz6">Все Ваши товары будут рекламироваться в разделе «Популярные» на страницах сайта, что приведёт к хорошим продажам ваших товаров, также ваш аккаунт появится среди «Лучших продавцов», пользователи смогут перейти на Ваши товары, размещённые на сайте.</p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 text-center">
    <div class="">
    <div class="thumbnail">
    <h3>VIP-4</h3>
      <%= image_tag '03.jpg', class: 'img-rounded' %>
      <div class="caption">
        <h3>Описание</h3>
        <p class="niz6">Позволит по-максимуму быстро продавать все Ваши размещённые товары: реклама во всех разделах и подразделах сайта, которая гарантирует много откликов по товару. Также появится возможность рекламировать вашу группу в соцсетях на главной странице сайта.</p>
      </div>
    </div>
    </div>
  </div>

</div>
</div>
  <div class="col-sm-12 text-center">
    <div class="thumbnail">
    <h3>Стоимость услуг *</h3>
      <div class="caption">
        <div class="table-responsive">
	      <table class="table table-bordered">
	        <thead>
	          <tr>
	            <th class="text-center">Период/Статус</th>
	            <th class="text-center">VIP-1</th>
	            <th class="text-center">VIP-2</th>
	            <th class="text-center">VIP-3</th>
	            <th class="text-center">VIP-4</th>
	            
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>1 неделя</td>
	            <td>10 грн.</td>
	            <td>15 грн.</td>
	            <td>50 грн.</td>
	            <td>100 грн.</td>
	          </tr>
	          <tr>
	            <td>1 месяц</td>
	            <td>30 грн.</td>
	            <td>50 грн.</td>
	            <td>150 грн.</td>
	            <td>250 грн.</td>
	          </tr>
	          <tr>
	            <td>6 месяцев</td>
	            <td>150 грн.</td>
	            <td>250 грн.</td>
	            <td>750 грн.</td>
	            <td>1000грн.</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
        <p>* Стоимость услуг на Stockmarket.com.ua составляет от 10 грн. до 1000 грн. Стоимость может меняться. Если услуга проплачена на длительный срок( более 1 недели), и цена услуги изменилась, то вы ничего не доплачиваете.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
