<div class="container">
<div class="row ">
<h4 class="text-center sh16">Что такое VIP-статус?</h4>
<div class="niz2">
<p class="niz3">VIP-статус это услуга, с помощью которой Вы можете быстрее продать свой товар. На сайте предусмотрены четыре вида VIP-статусов: VIP-1, VIP-2, VIP-3 и VIP-4:</p>
</div>
<div class="container-fluid vip text-center">
<div class="row ">
  <div class="col-xs-offset-2 col-sm-offset-0 col-xs-8 col-sm-6">
    <div class="">
    <div class="thumbnail ">
      <%= image_tag '1234.png', class: 'img-rounded' %>
      <div class="caption">
        <h4 class="sh16">Описание</h4>
        <p class="niz6">Ваше объявление будет выделено цветом. Преимущество услуги: объявление будет более заметным на сайте, появится больше просмотров, что позволит Вам быстрее продать товар.
		</p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-xs-offset-2 col-sm-offset-0 col-xs-8 col-sm-6">
    <div class="">
    <div class="thumbnail ">
      <%= image_tag '2341.png', class: 'img-rounded' %>
      <div class="caption">
        <h4 class="sh16">Описание</h4>
        <p class="niz6">Статус позволит поднять ваше объявление выше других бесплатных. Ваш товар будет наиболее доступным для всех посетителей сайта, что даст возможность быстрее продать товар.
		</p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-xs-offset-2 col-sm-offset-0 col-xs-8 col-sm-6">
    <div class="">
    <div class="thumbnail">
      <%= image_tag '3412.png', class: 'img-rounded' %>
      <div class="caption">
        <h4 class="sh16">Описание</h4>
        <p class="niz6">Все Ваши товары будут рекламироваться в разделе «Популярные» на страницах сайта, что приведёт к хорошим продажам ваших товаров, также ваш аккаунт появится среди «Лучших продавцов», пользователи смогут перейти на Ваши товары, размещённые на сайте.</p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-xs-offset-2 col-sm-offset-0 col-xs-8 col-sm-6">
    <div class="">
    <div class="thumbnail">
      <%= image_tag '4123.png', class: 'img-rounded' %>
      <div class="caption">
        <h4 class="sh16">Описание</h4>
        <p class="niz6">Позволит по-максимуму быстро продавать все Ваши размещённые товары: реклама во всех разделах и подразделах сайта, которая гарантирует много откликов по товару. Также появится возможность рекламировать вашу группу в соцсетях на главной странице сайта.</p>
      </div>
    </div>
    </div>
  </div>

</div>
</div>
  <div class="col-sm-12 text-center">
    <div class="thumbnail">
    <h4 class="sh16">Стоимость услуг *</h4>
      <div class="caption">
        <div class="table-responsive">
	      <table class="table table-bordered">
	        <thead>
	          <tr>
	            <th class="text-center">Период</th>
	            <th class="text-center">VIP-1</th>
	            <th class="text-center">VIP-2</th>
	            <th class="text-center">VIP-3</th>
	            <th class="text-center">VIP-4</th>
	            
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>1 неделя</td>
	            <td>10грн</td>
	            <td>15грн</td>
	            <td>50грн</td>
	            <td>100грн</td>
	          </tr>
	          <tr>
	            <td>1 месяц</td>
	            <td>30грн</td>
	            <td>50грн</td>
	            <td>150грн</td>
	            <td>250грн</td>
	          </tr>
	          <tr>
	            <td>6 месяцев</td>
	            <td>150грн</td>
	            <td>250грн</td>
	            <td>750грн</td>
	            <td>1000грн</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
        <p>* Стоимость услуг на Stockmarket.com.ua составляет от 10 грн. до 1000 грн. Стоимость может меняться. Если услуга проплачена на длительный срок( более 1 недели), и цена услуги изменилась, то вы ничего не доплачиваете.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
