<div class="container">
<div class="row ">
<h2 class="text-center">Что такое VIP-статус?</h2>
<div class="niz2">
<p class="niz3">VIP-статус это услуга, с помощью которой Вы сможите быстрее продать свой товар. На сайте Stockmarket.com.ua предусмотрены три вида VIP-статусов: VIP-1, VIP-2 и VIP-3. Покупатель, вы всегда можете получить качественную консультацию у наших менеджеров, просто позвоните по одному из нижеуказанных номеров. Менеджер поможет не только разобраться на сайте, но и ответит на все интересующие вас вопросы относительно системы VIP-услуг. </p>
</div>
<div class="container-fluid ">
<div class="row ">
  <div class="col-xs-12 col-sm-6 text-center">
    <div class="">
    <div class="thumbnail ">
    <h3>VIP-1</h3>
      <%= image_tag '03.jpg', class: 'img-rounded' %>
      <div class="caption">
        <h3>Описание</h3>
        <p class="niz6"> Ваше объявление будет выделено цветом. Преимущество услуги: объявление будет более броским и заметным на сайте, появится больше просмотров, что позволит Вам быстрее продать товар.
		</p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 text-center">
    <div class="">
    <div class="thumbnail ">
    <h3>VIP-2</h3>
      <%= image_tag '03.jpg', class: 'img-rounded' %>
      <div class="caption">
        <h3>Описание</h3>
        <p class="niz6">Позволит поднять ваше объявление выше других бесплатных. Ваш товар будет наиболее доступным для всех посетителей сайта, и товар будет продан быстрее.
		</p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 text-center">
    <div class="">
    <div class="thumbnail">
    <h3>VIP-3</h3>
      <%= image_tag '03.jpg', class: 'img-rounded' %>
      <div class="caption">
        <h3>Описание</h3>
        <p class="niz6">Все ваши товары будут рекламироваться в разделе «Популярные» на всех страницах сайта, что приведёт к хорошим продажам ваших товаров, также ваш аккаунт появится среди «Лучших продавцов на сайте». <!-- , пользователи смогут перейти на Ваши товары с главной страницы сайта. --> </p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 text-center">
    <div class="">
    <div class="thumbnail">
    <h3>VIP-4</h3>
      <%= image_tag '03.jpg', class: 'img-rounded' %>
      <div class="caption">
        <h3>Описание</h3>
        <p class="niz6">Позволит по-максимуму быстро продавать все Ваши товары: реклама во всех разделах и подразделах сайта, которая гарантирует большое количество откликов по товару. Также появится возможность рекламировать вашу группу в соцсетях на главной странице сайта.</p>
      </div>
    </div>
    </div>
  </div>

</div>
</div>
  <div class="col-sm-12 text-center">
    <div class="thumbnail">
    <h3>Стоимость услуг *</h3>
      <div class="caption">
        <div class="table-responsive">
	      <table class="table table-bordered">
	        <thead>
	          <tr>
	            <th class="text-center">Период/Статус</th>
	            <th class="text-center">VIP-1</th>
	            <th class="text-center">VIP-2</th>
	            <th class="text-center">VIP-3</th>
	            <th class="text-center">VIP-4</th>
	            
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>1 неделя</td>
	            <td>10грн</td>
	            <td>10грн</td>
	            <td>10грн</td>
	            <td>10грн</td>
	          </tr>
	          <tr>
	            <td>1 месяц</td>
	            <td>25грн</td>
	            <td>10грн</td>
	            <td>10грн</td>
	            <td>10грн</td>
	          </tr>
	          <tr>
	            <td>6 месяцев</td>
	            <td>150грн</td>
	            <td>10грн</td>
	            <td>10грн</td>
	            <td>10грн</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
        <p>* Стоимость услуг на Stockmarket.com.ua составляет от 15 грн. до 2500 грн. и зависит от типа выбранной услуги, региона и рубрики, в которой размещено объявление, а также от способа оплаты.Точную стоимость услуги вы можете посмотреть в личном кабинете нажав на кнопку "Рекламировать" возле вашего объявления.Стоимость может меняться.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
