<div class="container">
<div class="row ">
<h2 class="text-center">Что такое VIP-статус?</h2>
<div class="niz2">
<p class="niz3">VIP-статус это услуга, с помощью которой Вы сможите быстрее продать свой товар. На сайте Stockmarket.com.ua предусмотрены три вида VIP-статусов: VIP-1, VIP-2 и VIP-3.</p>
</div>
<div class="container-fluid ">
<div class="row ">
  <div class="col-xs-12 col-sm-4 col-md-4 text-center">
    <div class="">
    <div class="thumbnail ">
    <h3>VIP-1</h3>
      <%= image_tag '03.jpg', class: 'img-rounded' %>
      <div class="caption">
        <h3>Описание</h3>
        <p class="niz6"> VIP-1 объявление поднимается выше всех бесплатных предложений. Преимущества поднятия:
            быстрый и удобный способ увеличить отклик;
    	обновление даты объявления на текущую.
    	В начало Объявление в топе
    	Объявление выделяется желтым фоном на всё время размещения на сайте! Особенности выделенного объявления:
    	делает ваше предложение более заметным среди других;
     	объявление отображается на желтом фоне пока оно активно.
     	В начало Объявление в топе
     	Объявление помечается знаком «Срочно» на всё время размещения на сайте.Услуга «Срочное объявление» дает следующие преимущества:
 		выделяет объявление на странице списка объявлений;
     	знак «Срочно» остается активным пока объявление актуально.
		</p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 text-center">
    <div class="">
    <div class="thumbnail ">
    <h3>VIP-2</h3>
      <%= image_tag '03.jpg', class: 'img-rounded' %>
      <div class="caption">
        <h3>Описание</h3>
        <p class="niz6">VIP-2 объявление размещается в отдельном блоке над обычными объявлениями. Оно будет отображаться на всех страницах рубрики, раздела и региона. Топ-объявление можно заказать на 3, 7, 14 и 28 дней.Что дает Топ-объявление:
     	в среднем в 10 раз больше просмотров;
     	в среднем в 5 раз больше откликов;
     	продажа совершается в несколько раз быстрее.
		</p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 text-center">
    <div class="">
    <div class="thumbnail">
    <h3>VIP-3</h3>
      <%= image_tag '03.jpg', class: 'img-rounded' %>
      <div class="caption">
        <h3>Описание</h3>
        <p class="niz6">VIP-3 объявление размещается на главной странице, которую просматривают 1 500 000 раз в день Это лучший способ привлечь максимальное количество откликов и продаж - в 20 раз больше по сравнению с обычными объявлениями VIP-объявление можно заказать на 3, 7, 14 и 28 дней На главной странице может быть показано максимум 25 объявлений от тех пользователей, которые заказали данную услугу Система подбирает их в случайном порядке при обновлении страницы таким образом, что все VIP-объявления получают одинаковое количество просмотров И даже если вы не видите свое объявление сейчас, тысячи посетителей OLX просматривают его в данный момент. </p>
      </div>
    </div>
    </div>
  </div>

</div>
</div>
  <div class="col-sm-12 text-center">
    <div class="thumbnail">
    <h3>Стоимость услуг</h3>
      <div class="caption">
        <div class="table-responsive">
	      <table class="table table-bordered">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>Заголовок таблицы</th>
	            <th>Заголовок таблицы</th>
	            <th>Заголовок таблицы</th>
	            <th>Заголовок таблицы</th>
	            <th>Заголовок таблицы</th>
	            <th>Заголовок таблицы</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>1</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	          </tr>
	          <tr>
	            <td>2</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	          </tr>
	          <tr>
	            <td>3</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	            <td>Ячейка</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
        <p>Стоимость услуг на Stockmarket.com.ua составляет от 15 грн. до 2500 грн. и зависит от типа выбранной услуги, региона и рубрики, в которой размещено объявление, а также от способа оплаты.Точную стоимость услуги вы можете посмотреть в личном кабинете нажав на кнопку "Рекламировать" возле вашего объявления.Стоимость может меняться.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
