div, p, ul, li {
    box-sizing: border-box;
}

/*страница Product*/

.products{
    font-size: 14px;

}

.products__foto{
    border: 2px solid #333333;
    border-radius: 5px;
    margin: 1px;
}

.products__about{
    border: 2px solid #333333;
    border-radius: 5px;
    background: #f0f0f0;
    margin: 1px;
}

.products__about li{
    padding: 5px 0 5px 20px;
}

.products__call{
    margin: 1px;
    border: 2px solid #333333;
    border-radius: 5px;
}

.products__call li{
    padding: 5px 0 5px 20px;
}