<div class="container">
  <h2 class="text-center">Ваш VIP-статус</h2>
    <div class="row onas">
      <ul class="onas1">
        <li class="onas3">VIP-статус это услуга, с помощью которой Вы сможите быстрее продать свой товар. На сайте предусмотрены четыре вида VIP-статусов: VIP-1, VIP-2, VIP-3 и VIP-4. Продавцы, вы всегда можете получить качественную консультацию у наших менеджеров, просто позвоните по одному из нижеуказанных номеров. Менеджер поможет не только разобраться на сайте, но и ответит на все интересующие вас вопросы относительно системы. Стоимость <a href="/vip">VIP-услуг.</a>  </p>
        </li>
        <li class="onas3">Ваш VIP-статус: отсутствует.</p>
        </li>
      </ul>
    </div>
</div>

