<div class="container">
  <div class="row">
  <h4 class="form_name">Ваш VIP-статус</h4>

  <div >В данный момент раздел разрабатывается.</div>
  <div class="col-12 d-flex justify-content-center">
    <%= link_to "На главную", root_path, :class => 'btn button_form' %>
  </div>

</div>
</div>
