<div class="container">
<div class="row">

<h4 class="form_name">Диалог с пользователем</h4>

<% @messages.each do |message| %>
    <ul>
      <li><span>Написал(а): <%= message.seller.name %></span></li>
      <p><%= message.body %></p>
    </ul>
    <hr>
<% end %>


</div>
</div>