<div class="container">
	<div class="row">
		<h1>Редактирование категории</h1>
		<%= render 'form', category: @category %>
		<button type="submit" class="btn btn3"><%= link_to 'Назад в категории', categories_path %></button>
	</div>
</div>