<div class="col-12 col-md-2">
  <%= label_tag 'threecategory', 'Подкатегория', class:"control-label" %>
      </div>
      <div class="col-12 col-md-6">
 <%= select_tag('product[threecategory_id]',  options_for_select(threecategory.collect {|threecategory| [threecategory.name, threecategory.id]}), {:include_blank => '- Подкатегория -', :class => 'form-control form', "required" => true}) %>
      </div>
