<div class="field">
  <%= select_tag('product[threecategory_id]',  options_for_select(threecategory.collect {|threecategory| [threecategory.name, threecategory.id]}), :include_blank => '- Тип товара -') %>
</div>
