
  <div class="col-12 col-md-2">
    <%= label_tag 'twocategory', 'Категория', class:"control-label" %>
   </div>
   <div class="col-12 col-md-6">
    <%= select_tag 'product[twocategory_id]',  options_for_select(twocategory.collect {|twocategory| [twocategory.name, twocategory.id]}), {:include_blank => '- Категория -', :class => 'form-control form product_twocategory_id', "required" => true} %>
  </div>
