<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<button type="button" class="btn btn3"><%= link_to 'Show', @product %></button>
<button type="button" class="btn btn3"><%= link_to 'Back', products_path %></button>


