<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product, :type => 'button', :class => 'btn btn3' %>
<%= link_to 'Back', products_path, :type => 'button', :class => 'btn btn3' %>


