<div class="container">
<div class="row">
<h4 class="text-center">Новый товар</h4>

<%= render 'form', product: @product %>
<div class="form-group col-xs-offset-2">
<%= link_to 'Back', seller_panel_product_path, :type => 'button', :class => 'btn btn4' %>
</div> 
</div>
</div>