<div class="container">
<div class="row"> 
<h2 class="text-center">Новый товар</h2>

<%= render 'form', product: @product %>
<div class="form-group col-md-offset-2">
<%= link_to 'Back', products_path, :type => 'button', :class => 'btn btn4' %>
</div> 
</div>
</div>