<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            Создать категорию 3
          </header>
          <div class="panel-body">
            <%= render 'form', threecategory: @threecategory %>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>

