<!DOCTYPE html>
<html>
  <head>
    <title>Stockmarket.com.ua</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'adminpanel', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

    <body class="login-img3-body">

      <div class="container">
        <%= yield %>
      </div>

    </body>

</html>
